@import '~node_modules/modern-normalize/modern-normalize.css';

.is-hidden { 
    display: none;
    // display: flex;
//         justify-content: center;
//         margin-top: 10px;
//         margin-bottom: 10px;
} 
// .load-more {
//     display: flex;
//         justify-content: center;
//         margin-top: 10px;
//         margin-bottom: 10px;
// }

.gallery {
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-template-rows: auto;
    gap: 15px;
}

.info-item {
    color: #000;
    font-family: 'Lobster';
}

.info {
    display: flex;
        text-align: center;
        font-size: 15px;
        justify-content: space-around;
}

.photo-card {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%)
}
input {
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #080808;
    background-color: rgb(225, 235, 255);
    background-clip: padding-box;
    border: 1px solid #8b8b8b;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button {
    text-decoration: none;
        display: inline-block;
        color: rgb(236, 236, 236);
        padding: 5px 15px;
        margin: 0px 10px;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
        background-size: 200% auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        transition: .5s;
}

button:hover {
    background-position: right center;
}
img {
    width: 350px;
    height: 250px;
}

.search-form {
    display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
}

// .load-more {
//     display: flex;
//     justify-content: center;
//     margin-top: 10px;
//     margin-bottom: 10px;
// }